#maze {
	display:table;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#maze div{
	display:table-row;
	text-align:center;
}
#maze div span, #pallet span{
	border: solid 1px;
	width:20px;
	min-width:20px;
	height:20px;
	display:table-cell;
	background: #FDC;
}
#maze div span:hover, #pallet span:hover{
	border:solid 1px #f00;
}
#pallet span.active{
	border:solid 2px #0f0;
}
#maze div span.wall, #pallet .wall{
	background:#666;
}
#maze div span.floor, #pallet .floor{
	background:#fff;
}
#maze div span.spawn, #pallet .spawn{
	background:#00f;
}
#maze div span.exit, #pallet .exit{
	background:#0f0;
}
#maze div span.deathzone, #pallet .deathzone{
	background:#f00;
}
#maze div span.door.open, #pallet .door.open{
	background:#cd853f;
}
#maze div span.door.closed, #pallet .door.closed{
	background:#8b4513;
}
#maze div span.key, #pallet .key{
	background:#ff0;
}
#maze div span.A:before{
	font-size:13px;
	content:"1";
}
#maze div span.B:before{
	font-size:13px;
	content:"2";
}
#maze div span.C:before{
	font-size:13px;
	content:"3";
}
#maze div span.D:before{
	font-size:13px;
	content:"4";
}
#maze div span.E:before{
	font-size:13px;
	content:"5";
}
#maze div span.F:before{
	font-size:13px;
	content:"6";
}
#maze div span.G:before{
	font-size:13px;
	content:"7";
}
#maze div span.H:before{
	font-size:13px;
	content:"8";
}
#maze div span.I:before{
	font-size:13px;
	content:"9";
}
#maze div span.J:before{
	font-size:13px;
	content:"10";
}
#maze div span.break, #pallet .break{
	background:#aaa;
}
#pallet{
	font-size:10px;
}
#pallet div{
	border:solid 2px;
	padding:3px;
	text-align:center;
}
#pallet span{
	padding:5px;
	margin-left:5px;
	display:inline-block;
}
.warnings.error{
	color:red;
}
#error{
	float:right;
	color:red;
}
textarea {
	width:100%;
	min-height:800px;
	font-family: Courier, monospace!important;
}
.ui-dialog-titlebar-close {
  visibility: hidden!important;
}