#maze {
	display:table;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#maze div{
	display:table-row;
}
#maze div span, #pallet span{
	border: solid 1px;
	width:20px;
	min-width:20px;
	height:20px;
	display:table-cell;
	background: #FDC;
}
#maze div span:hover, #pallet span:hover{
	border:solid 1px #f00;
}
#pallet span.active{
	border:solid 2px #0f0;
}
#maze div span.wall, #pallet .wall{
	background:#666;
}
#maze div span.floor, #pallet .floor{
	background:#fff;
}
#maze div span.spawn, #pallet .spawn{
	background:#aaa;
}
#maze div span.exit, #pallet .exit{
	background:#0f0;
}
#maze div span.deathzone, #pallet .deathzone{
	background:#f00;
}
#pallet{
	font-size:10px;
}
#pallet div{
	border:solid 2px;
	padding:3px;
	text-align:center;
}
#pallet span{
	padding:5px;
	margin-left:5px;
	display:inline-block;
}
#error{
	float:right;
	color:red;
}
textarea {
	width:100%;
	min-height:800px;
	font-family: Courier, monospace!important;
}
.ui-dialog-titlebar-close {
  visibility: hidden!important;
}