#maze {
	display:table;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.github{
	background:#fff;
	margin:-1.8em;
	margin-top:-1em;
	margin-bottom:0px;
}
#maze div{
	display:table-row;
	text-align:center;
}
#maze div span, #pallet span,#intro table th span{
	border: solid 1px;
	width:20px;
	min-width:20px;
	height:20px;
	display:table-cell;
	background: #FDC;
}
#intro table tr td{
	font-size:12px;
}
#intro table tr td:before{
	content:" - ";
}
#maze div span:hover, #pallet span:hover{
	border:solid 1px #f00;
}
#pallet span.active{
	border:solid 2px #0f0;
}
.ui-dialog-titlebar-close {
  visibility: hidden!important; /*Prevent closure of the Pallet box)*/
}
/*Block Types*/
span.wall{
	background:#666!important;
}
span.floor{
	background:#fff!important;
}
span.spawn{
	background:#00f!important;
}
span.exit{
	background:#0f0!important;
}
span.deathzone{
	background:#f00!important;
}
span.door.open{
	background:#cd853f!important;
}
span.door.closed{
	background:#8b4513!important;
}
span.key{
	background:#ff0!important;
}
span.A:before{
	font-size:13px;
	content:"1";
}
span.B:before{
	font-size:13px;
	content:"2";
}
span.C:before{
	font-size:13px;
	content:"3";
}
span.D:before{
	font-size:13px;
	content:"4";
}
span.E:before{
	font-size:13px;
	content:"5";
}
span.F:before{
	font-size:13px;
	content:"6";
}
span.G:before{
	font-size:13px;
	content:"7";
}
span.H:before{
	font-size:13px;
	content:"8";
}
span.I:before{
	font-size:13px;
	content:"9";
}
span.J:before{
	font-size:13px;
	content:"10";
}
span.break{
	background:#aaa!important;
}
/*End Block Types*/
#pallet{
	font-size:10px;
}
#pallet div{
	border:solid 2px;
	padding:3px;
	text-align:center;
}
#pallet span{
	padding:5px;
	margin-left:5px;
	display:inline-block;
}
#output div.warnings.error:before{
	display:block;
	content:"Issues:";
}
#output div.warnings.error:after{
	display:block;
	margin-top:20px;
	content:"Do not attempt to submit the map until these basic problems are fixed!";
}
.warnings.error{
	color:red;
}
#error{
	float:right;
	color:red;
}
textarea {
	width:100%;
	min-height:800px;
	font-family: Courier, monospace!important;
}